[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
	ignore = dirty
	
[submodule "vendor/socalnick"]
   path = vendor/socalnick/media
   url = https://github.com/SocalNick/ScnSocialAuth.git
   ignore = dirty
